<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs-Exercise</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <button @click="showbox = !showbox">Göster/Gizle</button>
        <p v-if="showbox">Sayfa açılınca göster</p>
        <p v-if="!showbox">Sayfa açılınca gösterme.. Buton ile göster..</p>
        <p v-else>Aksi halde göster</p>
    
    </div>

    <script>

        new Vue({
            el: "#app",
            data: {
                showbox: false,

            }
        })

    </script>

</body>

</html>